PROXMOX_API_ENDPOINT = "https://{{HOST}}/api2/json"
PROXMOX_USERNAME = "root@pam"
PROXMOX_PASSWORD = "{{PASSWORD}}"
DEFAULT_BRIDGE = "vmbr0"
CLONE_TEMPLATE = "{{Clone name}}"
TEMPLATE_USERNAME = "{{Username}}"
NAMESERVER = "8.8.8.8"
