PROXMOX_API_ENDPOINT = "https://HOST/api2/json"
PROXMOX_USERNAME = "root@pam"
PROXMOX_PASSWORD = "PASSWORD"
PROXMOX_NODE = "pve"
DEFAULT_BRIDGE = "vmbr0"
CLONE_TEMPLATE = "CLONE_NAME"
TEMPLATE_USERNAME = "Username"
NAMESERVER = "8.8.8.8"
# If your boot disk is not of type virtio Block, update the boot order to use your boot device
BOOT_ORDER = "order=virtio0;net0;ide2"
NFS_ENABLE = true